<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:insert="~{fragments/header}"></div>
<h1>Login</h1>
<form th:action="@{/login}" method="post">
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Login</button>
</form>
<a href="/register">Register</a>
<div th:insert="~{fragments/footer}"></div>
</body>
</html>